.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.5rem;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

.parte1 {
    grid-column: 1 / 2;
    grid-row: 1;
    padding-left: 2rem;
    margin-top: -3rem;
}

.parte3 {
    grid-column: 2 / 3;
    grid-row: 1;
    padding-right: 10rem;
}

.parte2 {
    grid-column: 1 / 2;
    grid-row: 2;
    padding-left: 2rem;
    margin-top: -1rem;
}

.parte4 {
    grid-column: 2 / 3;
    grid-row: 2;
    padding-left: 2rem;
    margin-top: -3rem;
}


label {
    display: block;
    margin: 0.5rem 0;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.mensaje-error {
    color: #ff0000;
    margin: -0.3rem 0 0.8rem;
    font-size: 0.85em;
}

button {
    background: #007bff;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 4px;
    margin-top: 0.5rem;
    width: 100%;
}

.circulo-progreso {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #cac6c6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 1rem auto;
}

.tachado {
    text-decoration: line-through;
    color: #666;
    margin: 0.3rem 0;
    font-size: 0.9em;
}

.cuadro {
    height: 200px;
    width: 150px;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 18px;
    margin: 0.5rem 0;
}
@media only screen and (max-width: 500px) {

    body {
        padding: 1rem;
    }
    
    .contenedor {
        display: flex;
        flex-direction: column;
    }
    
    .parte3 {
        order: 3;
        margin: 2rem 0;
        text-align: center;
    }
    
    .parte4 {
        order: 4;
        padding-left: 0;
        margin-top: 0;
    }
    
    .parte1 {
        order: 1;
    }
    
    .parte2 {
        order: 2;
    }
    
    .circulo-progreso {
        margin: 3rem 3rem 3rem 3rem;
    }
    
    .cuadro {
        margin: 3rem 3rem 3rem 3rem;

    }
}